#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
  background-color: whitesmoke;
  border-radius: 10px;
}
li {
  display: flex;
  flex-direction: column;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-small;
  background-color: whitesmoke;
  border: solid 1px grey;
}
